<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060590925277-ctc5q3fpmshmd4laakojjk0a24nukn9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060590925277-ctc5q3fpmshmd4laakojjk0a24nukn9v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1060590925277-56doftk3gesqbnlh3nafoij2u1n0hu3q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfvqniGKOAOaC-lz3Q1r8Ryr_oWMwIJQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1060590925277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.appedireito</string>
	<key>PROJECT_ID</key>
	<string>app-roesel</string>
	<key>STORAGE_BUCKET</key>
	<string>app-roesel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060590925277:ios:4c465405e86340511f3234</string>
	<key>DATABASE_URL</key>
	<string>https://app-roesel-default-rtdb.firebaseio.com</string>
</dict>
</plist>